name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '6 12 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Fetch latest data
      run: |-
        curl https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=vaccination_data | jq . > states.json
        curl https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=vaccination_county_condensed_data | jq . > counties.json
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: actions/cache@v2
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |-
        pip install -r requirements.txt
    - name: Build SQLite database
      run: python build_database.py
    - name: Set up Cloud Run
      uses: google-github-actions/setup-gcloud@master
      with:
        version: '275.0.0'
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
    - name: Publish static CSV files
      run: |-
        gcloud config set run/region us-central1
        gcloud config set project datasette-222320
        sqlite-utils cdc.db 'select * from daily_reports_counties' --csv > daily_reports_counties.csv
        sqlite-utils cdc.db 'select * from daily_reports' --csv > daily_reports.csv
        gsutil cp *.csv gs://cdc-vaccination-history-csv.datasette.io
    - name: Deploy to Cloud Run
      run: |-
        gcloud config set run/region us-central1
        gcloud config set project datasette-222320
        datasette publish cloudrun cdc.db \
          --title "CDC vaccination numbers" \
          --about "simonw/cdc-vaccination-history" \
          --about_url "https://github.com/simonw/cdc-vaccination-history" \
          --source "CDC" \
          --source_url "https://covid.cdc.gov/covid-data-tracker/#vaccinations" \
          --install datasette-vega \
          --install datasette-graphql \
          --service cdc-vaccination-history \
          --extra-options "--setting sql_time_limit_ms 5000 --setting facet_time_limit_ms 3000"
